<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last names:</strong>
  <%= @user.last_names %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= link_to @user.avatar.filename, @user.avatar if @user.avatar.attached? %>
</p>

<%= render partial: 'posts/table', locals: { posts: @user.posts } %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
